[submodule "python/fastapi/ref"]
	path = python/fastapi/work/sources
	url = git@github.com:fastapi/fastapi.git
[submodule "python/starlette/ref"]
	path = python/starlette/work/sources
	url = git@github.com:Kludex/starlette.git
[submodule "python/fastmcp/work/sources"]
	path = python/fastmcp/work/sources
	url = git@github.com:PrefectHQ/fastmcp.git
[submodule "python/mcp/work/sources"]
	path = python/mcp/work/sources
	url = git@github.com:modelcontextprotocol/python-sdk.git
[submodule "langchain-core"]
	path = python/langchain-core/work/sources
	url = https://github.com/langchain-ai/langchain.git
